ion-toolbar{
    --background:#ffca22;
    --min-height:70px;
    --border-color: white;
}

ion-title{
    color: white;
    font-size: 7vw;
    font-family: Helvetica;
    align-content: center;
}

.title{
    font-weight:bold
}

.indentDiv{
    margin-left: 30px;
}

ion-slides{
    --bullet-background: #ffca22;
    --bullet-background-active: #ffca22;
    --progress-bar-background: #ffca22;
    --progress-bar-background-active: #ffca22;
    --scroll-bar-background: #ffca22;
    --scroll-bar-background-active: #ffca22;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}