<ion-header>
  <ion-toolbar>
    <div>
      <ion-title class="ion-text-wrap">{{recipe.titolo}}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
    <ion-label class='title'>Generale</ion-label>
    <ion-icon *ngIf="general==true" name="arrow-dropup" (click)="showGeneral()"></ion-icon>
    <ion-icon *ngIf="general==false" name="arrow-dropdown" (click)="showGeneral()"></ion-icon>
  </ion-item>
  <div *ngIf="general==true" class='indentDiv' [@enterAnimation]>
    <ion-item>
      <label>Calorie : </label>
      <p> {{recipe.calorie}}</p>
    </ion-item>
    <ion-item>
      <label>Costo : </label>
      <p> {{recipe.costo}}</p>
    </ion-item>
    <ion-item>
      <label>Difficoltà : </label>
      <p> {{recipe['difficoltà']}}</p>
    </ion-item>
    <ion-item>
      <label>Cottura : </label>
      <p> {{recipe.cottura}}</p>
    </ion-item>
    <ion-item>
      <label>Preparazione : </label>
      <p> {{recipe.preparazione}}</p>
    </ion-item>
    <ion-item>
      <label>Tempo totale : </label>
      <p> {{recipe.totalTime}}</p>
    </ion-item>
  </div>

  <br>
  <br>

  <ion-item>
    <ion-label class='title'>Ingredienti</ion-label>
    <ion-icon *ngIf="ingr==true" name="arrow-dropup" (click)="showIngredients()"></ion-icon>
    <ion-icon *ngIf="ingr==false" name="arrow-dropdown" (click)="showIngredients()"></ion-icon>
  </ion-item>

  <div *ngIf="ingr==true" class='indentDiv' [@enterAnimation]>
    <ion-item *ngFor="let i of ingredients" class="ion-text-wrap">
      <ion-label class="ion-text-wrap">{{i[0]}}</ion-label>
      <ion-label class="ion-text-wrap">{{i[1]}}</ion-label>

    </ion-item>
  </div>

  <br>
  <br>

  <ion-item>
    <ion-label class='title'>Preparazione</ion-label>
    <ion-icon *ngIf="prep==true" name="arrow-dropup" (click)="showPrep()"></ion-icon>
    <ion-icon *ngIf="prep==false" name="arrow-dropdown" (click)="showPrep()"></ion-icon>
  </ion-item>

  <div *ngIf="prep==true" [@enterAnimation]>
    <ion-card>
      <ion-slides pager="true">
        <ion-slide>
          <img [src]="recipe.files[0]"/>
        </ion-slide>
        <ion-slide>
          <img [src]="recipe.files[1]"/>
        </ion-slide>
        <ion-slide>
          <img [src]="recipe.files[2]"/>
        </ion-slide>
      </ion-slides>
      
      <ion-card-content>
        {{recipe.passaggi[0]}}
      </ion-card-content>
    </ion-card>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
