<ion-header>
  <ion-toolbar>
    <ion-title>
      Recipe list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="loading==false" showcancelbutton="" (ionChange)="filterList($event)"></ion-searchbar>
  <br>
  <ion-list *ngIf="loading==false">
    <ion-item *ngFor="let r of filtered" detail>
      <ion-icon *ngIf="!isInFavourite(r.titolo)" name="heart-empty" class="heartNoFav" (click)="addFavourite(r)"></ion-icon>
      <ion-icon *ngIf="isInFavourite(r.titolo)" name="heart-empty" class="heartFav" (click)="removeFavourite(r)"></ion-icon>

      <ion-label (click)="recipeClick(r)" >{{r.titolo}}</ion-label>
    </ion-item>
  </ion-list>

  <img *ngIf="loading==true" src="../../assets/icon/loading.gif">

</ion-content>
