.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-toolbar{
  --background:#ffca22;
  --min-height:70px;
  --border-color: white;
}

ion-title{
  color: white;
  font-size: 30px;
  font-family: Helvetica;
  align-content: center;
}

ion-toggle {
  --handle-spacing: 0px;
  --handle-height: 0%;
}

.indentDiv{
  margin-left: 30px;
}

.error{
  margin-bottom: 8px;
  margin-left: 45px;
  height: 30px;
  --fab-size:70px;
}