<ion-header>
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-checkbox (ionChange)="checkDifficulty($event)" color="warning" mode="ios" class="ion-text-wrap"></ion-checkbox>
    <ion-label>Difficoltà</ion-label>
  </ion-item>
  <div [@enterAnimation] *ngIf='difficulty==true' class='indentDiv'>
    <ion-item>
      <ion-label class = "textGray">Molto facile</ion-label>
      <ion-toggle color="warning" (ionChange)="setDifficulty($event,0)" [checked]="difficultyCheck[0]==true"></ion-toggle>
    </ion-item>
    <br>
    <ion-item>
      <ion-label class = "textGray">Facile</ion-label>
      <ion-toggle color="warning" (ionChange)="setDifficulty($event,1)" [checked]="difficultyCheck[1]==true"></ion-toggle>
    </ion-item>
    <br>
    <ion-item>
      <ion-label class = "textGray">Media</ion-label>
      <ion-toggle color="warning" (ionChange)="setDifficulty($event,2)" [checked]="difficultyCheck[2]==true"></ion-toggle>
    </ion-item>
    <br>
    <ion-item>
      <ion-label class = "textGray">Difficile</ion-label>
      <ion-toggle color="warning" (ionChange)="setDifficulty($event,3)" [checked]="difficultyCheck[3]==true"></ion-toggle>
    </ion-item>
  </div>

  <ion-item [@enterAnimation] *ngIf='difficulty==true'><br></ion-item>
  <ion-item>
    <ion-checkbox (ionChange)="checkMaxCalories($event)" color="warning" mode="ios"></ion-checkbox>
    <ion-label>Calorie massime</ion-label>
  </ion-item>
  <div [@enterAnimation] *ngIf='maxCalories==true' class='indentDiv'>
    <ion-range min="100" max="900" step="2" pin = true color="warning" (ionChange)="setMaxCalories($event)" [value]="maxCaloriesCheck">
      <ion-icon size="small" slot="start" name="flash"></ion-icon>
      <ion-label slot="end">{{maxCaloriesCheck}}</ion-label>
    </ion-range>
  </div>
  
  <ion-item [@enterAnimation] *ngIf='maxCalories==true'><br></ion-item>
  <ion-item>
    <ion-checkbox (ionChange)="checkCost($event)" color="warning" mode="ios"></ion-checkbox>
    <ion-label>Costo</ion-label>
  </ion-item>
  <div [@enterAnimation] *ngIf='cost==true' class='indentDiv'>
    <ion-item>
      <ion-label class = "textGray">Molto basso</ion-label>
      <ion-toggle color="warning" (ionChange)="setCost($event,0)" [checked]="costCheck[0]==true"></ion-toggle>
    </ion-item>
    <br>
    <ion-item>
      <ion-label class = "textGray">Basso</ion-label>
      <ion-toggle color="warning" (ionChange)="setCost($event,1)" [checked]="costCheck[1]==true"></ion-toggle>
    </ion-item>
    <br>
    <ion-item>
      <ion-label class = "textGray">Medio</ion-label>
      <ion-toggle color="warning" (ionChange)="setCost($event,2)" [checked]="costCheck[2]==true"></ion-toggle>
    </ion-item>
    <br>
    <ion-item>
      <ion-label class = "textGray">Elevato</ion-label>
      <ion-toggle color="warning" (ionChange)="setCost($event,3)" [checked]="costCheck[3]==true"></ion-toggle>
    </ion-item>
  </div>    

  <ion-item [@enterAnimation] *ngIf='cost==true'><br></ion-item>
  <ion-item>
    <ion-checkbox (ionChange)="checkMaxTime($event)" color="warning" mode="ios"></ion-checkbox>
    <ion-label>Tempo massimo</ion-label>
  </ion-item>
  <div [@enterAnimation] *ngIf='maxTime==true' class='indentDiv'>
    <ion-range min="10" max="180" step="2" pin = true color="warning" (ionChange)="setMaxTime($event)" [value]="maxTimeCheck">
      <ion-icon size="small" slot="start" name="alarm"></ion-icon>
      <ion-label slot="end">{{maxTimeCheck}}</ion-label>
    </ion-range>
  </div>
  
  <ion-item [@enterAnimation] *ngIf='maxTime==true'><br></ion-item>
  <ion-item>
    <ion-checkbox (ionChange)="checkIngredients($event)" color="warning" mode="ios"></ion-checkbox>
    <ion-label>Ingredienti</ion-label>
  </ion-item>
  <div [@enterAnimation] *ngIf='ingredients==true' class='indentDiv'>
    <ion-list>
      <ion-item *ngFor="let i of selectedIngredients">
        <ion-label class = "textGray">{{i}}</ion-label>
        <ion-button color="warning" (click)="removeIngredient(i)"><ion-icon name='close'></ion-icon></ion-button>
      </ion-item>
      <ion-item *ngIf="loadingIngredient==true">
        <ion-button color="warning" (click)="present()" class="newIngredient"><ion-icon name='add'></ion-icon></ion-button>
        <ion-label class = "textGray">Aggiungi un nuovo ingrediente</ion-label>
      </ion-item>
      <div *ngIf="loadingIngredient==false">
        <img src="../../assets/icon/loading.gif">
      </div>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-badge [@enterAnimation] *ngIf="noResearch==true" class="error" color="warning">
      <ion-label style="font-size: 15px;">Inserisci ricerca!</ion-label>
    </ion-badge>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="search()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>   
  </ion-fab>


</ion-content>
