<ion-header>
  <ion-toolbar>
    <ion-title>Lista ricette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let r of recipes" detail>

      <ion-icon *ngIf="!isInFavourite(r.titolo)" name="heart" class="heartNoFav" (click)="addFavourite(r)"></ion-icon>
      <ion-icon *ngIf="isInFavourite(r.titolo)" name="heart" class="heartFav" (click)="removeFavourite(r)"></ion-icon>

      <ion-label (click)="recipeClick(r)" >{{r.titolo}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
